.row {
    height: 120px;
}
.coloris {
    height: 37.6px;
    padding: .67857143em 1em;
    border-radius: 5px;
    border: 1px solid rgba(34,36,38,.15);
}
#dropdownMenuButton {
    padding: .67857143em 1em;
    height: 37.6px;
    border-radius: 5px;
    border: 1px solid rgba(34,36,38,.15);
    font-family: 'Lato,system-ui,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    font-weight: 700;
    color: rgba(0,0,0,.6);
}
